.formGroupsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.formGroupWrapper {
  flex: 0 0 $formGroupSmallWidth;
}

.deleteButtonContainer {
  margin-right: auto;
}

@media only screen and (max-width: $breakpointLarge) {
  .formGroupsContainer {
    display: block;
  }
}
