.qualityProfileItem {
  display: flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #fafafa;
}

.checkContainer {
  position: relative;
  margin-right: 4px;
  margin-bottom: 7px;
  margin-left: 8px;
}

.qualityNameContainer {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-left: 2px;
  font-weight: normal;
  line-height: 36px;
  cursor: pointer;
}

.qualityName {
  margin-left: 14px;
}

.createGroupButton {
  composes: buton from 'Components/Link/IconButton.css';

  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 5px;
  margin-left: 8px;
  width: 20px;
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
  width: $dragHandleWidth;
  text-align: center;
  cursor: grab;
}

.dragIcon {
  top: 0;
}

.isDragging {
  opacity: 0.25;
}
