.qualityProfileItemGroup {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #fafafa;
}

.qualityProfileItemGroupInfo {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.checkContainer {
  position: relative;
  margin-right: 4px;
  margin-bottom: 7px;
  margin-left: 8px;
}

.name {
  composes: text from 'Components/Form/TextInput.css';

  margin-top: 4px;
  margin-right: 10px;
}

.qualityName {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
  margin-left: 2px;
  font-weight: normal;
  line-height: 36px;
  cursor: pointer;
}

.deleteGroupButton {
  composes: buton from 'Components/Link/IconButton.css';

  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
}

.dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-left: auto;
  width: $dragHandleWidth;
  text-align: center;
  cursor: grab;
}

.dragIcon {
  top: 0;
}

.isDragging {
  opacity: 0.25;
}

.items {
  margin: 4px 4px 4px 39px;
}
